.fake
bin
obj
tmp
packages
testapp*
src/journal/output
src/journal/packages
src/journal/.paket/*.exe
src/journal/.paket/load
*.suo
*.bak
*.userprefs
.paket/paket.exe
.DS_Store
Google.DataTable.Net.Wrapper.XML
nuget
paket-files