source https://nuget.org/api/v2

nuget FAKE
nuget Paket.Core
nuget Nuget.CommandLine
nuget Deedle
nuget Deedle.RPlugin
nuget Foogle.Charts
nuget FSharp.Charting
nuget FSharp.Data
nuget FSharp.Formatting 2.12.0
nuget MathNet.Numerics
nuget MathNet.Numerics.FSharp
nuget R.NET.Community
nuget R.NET.Community.FSharp
nuget RProvider
nuget DotNetZip
nuget XPlot.Plotly
nuget XPlot.GoogleCharts
nuget XPlot.GoogleCharts.Deedle

// Cannot do the following, because that copies all template dependencies
//   github fslaborg/FsLab.Templates:journal Tutorial.fsx
http http://raw.githubusercontent.com/fslaborg/FsLab.Templates/journal/Runner.fs
http http://raw.githubusercontent.com/fslaborg/FsLab.Templates/journal/Tutorial.fsx
http http://raw.githubusercontent.com/fslaborg/FsLab.Templates/journal/FsLab.Journal.fsproj 