<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.3.1.0" />
        <bindingRedirect oldVersion="2.3.5.0" newVersion="4.3.1.0" />
        <bindingRedirect oldVersion="4.0.0.0" newVersion="4.3.1.0" />
        <bindingRedirect oldVersion="4.3.0.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <probing privatePath="Deedle.1.0.0\lib\net40;Deedle.RPlugin.1.0.0\lib\net40;FSharp.Charting.0.90.6\lib\net40;FSharp.Data.2.0.8\lib\net40;MathNet.Numerics.3.0.0-beta01\lib\net40;MathNet.Numerics.FSharp.3.0.0-beta01\lib\net40;RProvider.1.0.9\lib;R.NET.1.5.5\lib\net40;RDotNet.FSharp.0.1.2.1\lib\net40;FSharp.Compiler.Service.0.0.44\lib\net40;FSharp.Formatting.2.4.10\lib\net40;Microsoft.AspNet.Razor.2.0.30506.0\lib\net40;RazorEngine.3.3.0\lib\net40" />
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>