<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsLab" version="0.0.14-beta" />
  <package id="FsLab.Runner" version="0.0.14-beta" />
  <package id="Deedle" version="1.0.0" />
  <package id="Deedle.RPlugin" version="1.0.0" />
  <package id="FSharp.Charting" version="0.90.6" />
  <package id="FSharp.Data" version="2.0.8" />
  <package id="MathNet.Numerics" version="3.0.0-beta01" />
  <package id="MathNet.Numerics.FSharp" version="3.0.0-beta01" />
  <package id="RProvider" version="1.0.9" />
  <package id="R.NET" version="1.5.5" />
  <package id="RDotNet.FSharp" version="0.1.2.1" />
  <package id="FSharp.Compiler.Service" version="0.0.44" />
  <package id="FSharp.Formatting" version="2.4.10" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" />
  <package id="RazorEngine" version="3.3.0" />
</packages>